{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<section class="contact section" id="contact">
  <h2 class="section__title">Get in Touch</h2>
  <span class="section__subtitle">I'd love to hear from you</span>
  <div class="contact__container container grid">
    <div class="contact__info">
      <h3 class="contact__title">Let's Connect</h3>
      <p class="contact__description">Feel free to reach out through any of the following methods:</p>
      <div class="contact__data">
        <div class="contact__data-item">
          <i class="fas fa-phone contact__icon"></i>
          <div>
            <h4>Phone</h4>
            <span>+358417236671</span>
          </div>
        </div>
        <div class="contact__data-item">
          <i class="fas fa-envelope contact__icon"></i>
          <div>
            <h4>Email</h4>
            <span>esther.mtitu@student.oulu.fi</span>
          </div>
        </div>
        <div class="contact__data-item">
          <i class="fab fa-linkedin contact__icon"></i>
          <div>
            <h4>LinkedIn</h4>
            <a href="https://www.linkedin.com/in/esther-francis-mtitu-87bb60292" target="_blank">linkedin.com/in/esther-francis-mtitu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}