{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="home section" id="home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        <a href="https://www.linkedin.com/in/esther-francis-mtitu-87bb60292" target="_blank" class="home__social-icon"><i class="uil uil-linkedin-alt home__icon"></i></a>
        <a href="https://github.com/EstherFM143" target="_blank" class="home__social-icon"><i class="uil uil-github-alt home__icon"></i></a>
      </div>
      <div class="home__img">
        <img src="{{ url_for('static', filename='assets/img/Pro.jpg') }}" alt="Profile Image">
      </div>
      <div class="home__data">
        <h1 class="home__title">Welcome to my portfolio. Tervetuloa!</h1>
        <p class="home__description">A second year undergraduate Electronics and Communications engineering student at <strong>University of Oulu</strong>, Oulu.</p>
        <a href="#contact" class="button button--flex">Feel free to Contact me<i class="uil uil-message button__icon"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}