{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<section class="about section" id="about">
  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My introduction</span>
  <div class="about__container container grid">
    <img src="{{ url_for('static', filename='assets/img/about.jpg') }}" alt="About Image" class="about__img">
    <div class="about__data">
      <p class="about__description">I'm a proactive and motivated Electronics and Communication Engineering student at the University of Oulu, passionate about wireless technology and electronics design. I’m eager to gain hands-on experience to complement my studies and develop the practical skills needed for a future in IT and engineering, contributing to cutting-edge innovations in the field. Let’s connect and collaborate!</p>
      <div class="about__info">
        <div><span class="about__info-title">126</span><span class="about__info-name">Credits <br />January 2025</span></div>
        <div><span class="about__info-title"> 4</span><span class="about__info-name">University Projects</span></div>
      </div>
      <div class="about__buttons">
        <a download href="{{ url_for('static', filename='assets/Esther_Francis_General_CV.pdf') }}" class="button button--flex">Download General CV<i class="fas fa-download button__icon"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
