{% extends "base.html" %}
{% block title %}Qualifications{% endblock %}
{% block content %}
<section class="qualifications section" id="qualifications">
  <h2 class="section__title">Qualifications</h2>
  <span class="section__subtitle">Qualifications analyzed through Courses learnt at University of Oulu</span>
  <div class="qualifications__container container grid">
    <div>
      <div class="qualifications__content qualifications__open">
        <div class="qualifications__header">
          <i class="fas fa-graduation-cap qualifications__icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="qualifications__content qualifications__close">
        <div class="qualifications__header">
          <i class="fas fa-microchip qualifications__icon"></i>
          <div class="qualifications__details">
              <p>Ongoing courses include (March 2025-May 2025);Introduction to Microfabrication techniques, Digital Filters, Electronics design, Laboratory exercises on Analogue Electronics, Optical systems, Basics in Radio Engineering, Telecommunications Engineering.</p>
          <div><h1 class="qualifications__title"> Previous Courses</h1></div>
          <i class="uil uil-angle-down qualifications__arrow"></i>
        </div>
        <div class="qualifications__list grid">
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Introduction to Electronics</h3>
            </div>
            <div class="qualifications__details">
              <p>Provides an overview of electronic components, circuits, basic principles of electronic engineering, and future trends of electronics.</p>
              <p><strong>Skills:</strong> Simulation with TinkerCad, PCB design with KiCad</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Elementary Programming</h3>
            </div>
            <div class="qualifications__details">
              <p>Introduces programming fundamentals using a high-level language, emphasizing problem-solving and algorithm development.</p>
              <p><strong>Skills:</strong> Python programming, Game development</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Electrical Measurement Principles</h3>
            </div>
            <div class="qualifications__details">
              <p>Discusses measurement techniques and instrumentation (theoretically and practically) used in electrical engineering.</p>
              <p><strong>Skills:</strong> Using multimeters and oscilloscopes</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Electronic Measurement Techniques</h3>
            </div>
            <div class="qualifications__details">
              <p>Focuses on advanced measurement methods and the use of modern instrumentation in electronics.</p>
              <p><strong>Skills:</strong> Advanced measurement methods, Noise control</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Digital Techniques 1</h3>
            </div>
            <div class="qualifications__details">
              <p>Introduces digital logic design, including combinational and sequential circuits.</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Digital Techniques 2</h3>
            </div>
            <div class="qualifications__details">
              <p>Continues from Digital Techniques 1, focusing on more complex digital systems and design methodologies.</p>
              <p><strong>Skills:</strong> Microprocessor design with SystemVerilog</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Introduction to Internet</h3>
            </div>
            <div class="qualifications__details">
              <p>Provides an overview of internet technologies, protocols, and applications.</p>
              <p><strong>Skills:</strong> TCP and UDP communication with Python</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Circuit Theory 1</h3>
            </div>
            <div class="qualifications__details">
              <p>Covers fundamental concepts in circuit analysis, including network theorems and AC/DC circuits.</p>
              <p><strong>Skills:</strong> LTspice simulation</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Circuit Theory 2</h3>
            </div>
            <div class="qualifications__details">
              <p>Builds upon Circuit Theory 1, delving into advanced topics like frequency response and network functions.</p>
              <p><strong>Skills:</strong> LTspice, Matlab</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Electronics Materials</h3>
            </div>
            <div class="qualifications__details">
              <p>Examines materials used in electronic components, their properties, and applications.</p>
              <p><strong>Skills:</strong> Knowledge of materials science and sustainable development</p>
            </div>
          </div>
        </div>
      </div>
      <div class="qualifications__content qualifications__close">
        <div class="qualifications__header">
          <i class="fas fa-network-wired qualifications__icon"></i>
          <div><h1 class="qualifications__title">Networking and Software Engineering</h1></div>
          <i class="uil uil-angle-down qualifications__arrow"></i>
        </div>
        <div class="qualifications__list grid">
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Devices and Data Networks</h3>
            </div>
            <div class="qualifications__details">
              <p>Introduces networking concepts, devices, and protocols essential for data communication.</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Introduction to Software Engineering</h3>
            </div>
            <div class="qualifications__details">
              <p>Covers software development methodologies, project management, and quality assurance practices.</p>
              <p><strong>Skills:</strong> Agile development, Scrum</p>
            </div>
          </div>
        </div>
      </div>
      <div class="qualifications__content qualifications__close">
        <div class="qualifications__header">
          <i class="fas fa-desktop qualifications__icon"></i>
          <div><h1 class="qualifications__title">Computer Systems</h1></div>
          <i class="uil uil-angle-down qualifications__arrow"></i>
        </div>
        <div class="qualifications__list grid">
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Introduction to Computer Systems</h3>
            </div>
            <div class="qualifications__details">
              <p>Introduces computer architecture, organization, and the functioning of hardware components.</p>
              <p><strong>Skills:</strong> Computer architecture, C programming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="qualifications__content qualifications__close">
        <div class="qualifications__header">
          <i class="fas fa-globe qualifications__icon"></i>
          <div><h1 class="qualifications__title">Language and Culture</h1></div>
          <i class="uil uil-angle-down qualifications__arrow"></i>
        </div>
        <div class="qualifications__list grid">
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Beginners' Finnish Course 1</h3>
            </div>
            <div class="qualifications__details">
              <p>Provides basic Finnish language skills for everyday communication.</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Beginners' Finnish Course 2</h3>
            </div>
            <div class="qualifications__details">
              <p>Continues from Course 1, enhancing Finnish language proficiency.</p>
            </div>
          </div>
          <div class="qualifications__data">
            <div class="qualifications__titles">
              <h3 class="qualifications__name">Living and Working in Finland</h3>
            </div>
            <div class="qualifications__details">
              <p>Offers insights into Finnish culture, society, and working life to support integration.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
